
body { 
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;  
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto 0 auto;
}

.header-text { 
    display: block;
     
    margin: 10px, auto, 10px, auto;

    font-weight: 500;
    font-size: 21px; 
    text-align: center;
}

.play-space { 
    padding: 5px; 
    margin: 5px;
    text-align: center;
    align-items: center;
}

.hide { 
    visibility: collapse;
}

.show { 
    visibility: visible;
}

.box { 
    float: left;
    width: 100px;
    height: 100px;
    
    transition: all .45sc ease-in-out;
    font-size: 66px;
    text-align: center;

    cursor: pointer;
}

.box-left {
    border-right: 2px solid black;
}

.box-top {
    border-bottom: 2px solid black;
}

.box-right { 
    border-left: 2px solid black;
}

.box-bottom { 
    border-top: 2px solid black;
}

.box:hover { 
    background: cornflowerblue;

}

.card { 
    width: 70%;
    align-items: center;
}
.card-background { 
    background-color: rgb(22, 22, 179) ;
}

.card-background:hover { 
    background-color: rgb(22, 98, 239);
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 170);   
}

.sb-title { 
    font-size: 2em; 
    font-weight: 500;
}